[Unit]
Description=Felix

[Service]
Type=simple
ExecStartPre=/etc/init.d/mkenv start
ExecStart=/etc/init.d/havis-apps run
Restart=on-failure

[Install]
WantedBy=multi-user.target
