#!/usr/bin/make -f
 
%:
	dh $@
 
override_dh_auto_clean:
override_dh_auto_build:
	find
	ant -lib /usr/share/java -Dkeyfile=${keyfile} -Divy.resolver=$(RESOLVER) -Divy.url=$(IVY) -Divy.default.ivy.user.dir=/tmp -Divy.settings=ivysettings_remote.xml -Dapi.url=$(API) -Dplatform=$(JAVA_PLATFORM) -Djavac.debug=$(DEBUG)
